#login-container {
    text-align: center;
}

#login-box {
    background-color: lightgray;
    border-radius: 25px;
    width: 40%;
    margin: auto;
}

.input {
    display: list-item;
    margin: auto;
}

.error-message {
    color: red;
}